@import "./styles/theme.scss";

body {
  background: var(--white) !important;
  font-family: "Urbanist" !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  outline: none;
}

.padding {
  padding: 0 #{scaleX(24)};
}
